services:
  db:
    container_name: db
    image: postgres:16
    environment:
      POSTGRES_USER: budgetHomeUser
      POSTGRES_PASSWORD: budgetSecret
      POSTGRES_DB: budgetHome
    ports:
      - "6500:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  app:
    container_name: app
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      DB_HOST: db
      DB_PORT: 5432
      DB_USER: budgetHomeUser
      DB_PASSWORD: budgetSecret
      DB_NAME: budgetHome
      NODE_ENV: development
    depends_on:
      - db

volumes:
  postgres_data:
