openapi: 3.0.0
info:
  title: AddressApp API
  version: 0.1.0
paths:
  /addresses:
    get:
      summary: List addresses
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Address'
    post:
      summary: Create address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddressInput'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'

  /addresses/{id}:
    get:
      summary: Get address by id
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Address'
        '404':
          description: Not Found

components:
  schemas:
    Address:
      type: object
      properties:
        id:
          type: string
        street:
          type: string
        city:
          type: string
        zip:
          type: string
      required:
        - id
        - street
        - city
        - zip

    AddressInput:
      type: object
      properties:
        street:
          type: string
        city:
          type: string
        zip:
          type: string
      required:
        - street
        - city
        - zip
